body {
    display: grid;
    max-width: 90%;
    font-family: "katarine-web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
   
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-areas: 
        "image1 image2 image3"
        "image4 image5 image6";
    padding: 20px;
    
}

a {
    display: inline-block;
    padding: 50px;
    text-decoration: none;
    color: black;
}

.footer {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: auto;
    padding: 20px;
   

}