body {
    display: grid;
    margin: 0;
    font-family: "katarine-web", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    text-align: center;
}
/*Image grid layout*/
.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;  
}

/*Nav links*/
a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: black;
}

.footer {
    display: inline-block;
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 20px;
   

}